
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Lora&family=Reenie+Beanie&display=swap');


header {
    background-color: dimgrey;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    padding-top: 30px;
    color: white;
    font-family: "Dosis";
}
nav {
    background-color: steelblue;
    font-family: "Dosis";
    height: 60px;
    color: white;
    font-size: x-large;
    padding-left: 50px;
    padding-top: 10px;
}
body {
    background-color: floralwhite;
}
.purpose h1 {
    text-align: center;
    font-family: "Reenie Beanie";
    font-size: 40px;

}
.purpose p {
    font-family: "Lora";
    padding-left: 100px;
    padding-right: 100px;
}

.scenerios {
    text-align: center;
    
    
}
.scenerios h1 {
    font-family: "Reenie Beanie";
    font-size: 40px;
}

.colorschema {
    text-align: center;
    
}
.colorschema h1 {
    font-family: "Reenie Beanie";
    font-size: 40px;
}
.colorschema div {
    font-size: large;
}

.typography {
    text-align: center;
    font-family: "Reenie Beanie";
    font-size: 30px;
}
.typography h3:nth-of-type(3) {
    font-family: "Lora";
    font-size:x-large;
}
.typography h3:nth-of-type(1) {
    font-family: "Dosis";
    font-size: x-large;
}
.typography h3:nth-of-type(2) {
    font-family: "Reenie Beanie";
    font-size:x-large;
}
     
.wireframe {
    text-align: center;
    font-family: "Reenie Beanie";
    font-size: 30px;
}

img:first-of-type{
    width: 400px;
    height: 600px;
    display: block;
    margin: auto;
}

img:nth-of-type(2) {
    width: 200px;
    height: 400px;
    align-items: center;
    display: block;
    margin: auto;
}


ul {
    display: inline-block;
    margin: auto;
    font-family: "Lora";
}

footer {
    text-align: center;
    color: white;
    font-size:xx-large;
    height: 100px;
    font-family: "Dosis";

}




