@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Lora&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Fredericka+the+Great&family=Lora&family=Reenie+Beanie&family=Rubik+Distressed&display=swap');


nav {
    margin-right: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding-bottom: 10px;
}

nav a {
    font-size: 1.5em;
    color: #000;
}

.menu-item {
    display: none;
}

a.open {
    display: flex;
}

.close::before {
    content: "âŒ";
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero {
    width: 100%;
    max-height: 400px;
    position: relative;
    z-index: -1;
    object-fit: cover;
	border: 1px solid rgba(0,0,0,.1);
	
 }

 header h2 {
    font-family: "Fredericka the Great";
    font-size: 10em;
    color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 100px;
 }

 header h1 {
    font-family: Lora;
 }
 #banner {
    background-color:skyblue;
    font-family: "Dosis";
    margin-top: 50px;
    font-size: 25px;
 }

 .banner_text {
    padding:25px
 }

 .join-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

.weather  {
    max-width: 300px;
    padding-left: 130px;
}
header p {
    font-family: Lora;
    padding-left: 210px;
}

main {
    max-width: 670px;
	margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

main h2 {
    font-family: "Reenie Beanie";
    font-size: 5em;
}

main p {
    text-align: left;
    padding: 20px;
}

main .img1 {
    width: 100%;
    height: 300px;
    max-width: 450px;
    position: relative;
}

main .eat {
   text-align: center;
   font-family: "Lora";
   font-size: 3em;
   background-color:whitesmoke;
}

main .img2 {
    width: 100%;
    height: 300px;
    max-width: 450px;
    position: relative;
}

main .shop {
    text-align: center;
    font-family: "Lora";
    font-size: 3em;
    background-color:whitesmoke;
}

main .img3 {
    width: 100%;
    height: 300px;
    max-width: 450px;
    position: relative;
}

main .stay {
    text-align: center;
    font-family: "Lora";
    font-size: 3em;
    background-color:whitesmoke;
}

main h3 {
    font-family: Lora;
    background-color:whitesmoke;
    padding: 30px;
}

main div button {
    font-family: "Dosis";
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
}

main .background {
    background-color:whitesmoke;
    padding: 20px;
    margin-bottom: 30px;
}

main .weather {
    background-color: cornsilk;
    padding-bottom: 25px;
    font-size: 2em;
}
#spotLighted img{
    width: 100px;
}

#spotLighted {
    background-color:white;
}

#spotLighted p {
    text-align: center;
    font-family: "Dosis";
    font-size: 1em;
    background-color: white;
    margin: auto 0;
}

footer {
    font-family: "Lora";
    background-color: whitesmoke;
    padding: 25px;
}

/* Discover CSS*/

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 300px 50px 300px 50px;
    font-family: "Dosis";
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: aliceblue;
    padding-left: 30px;
}



.image1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 60px;
    font-family: "Reenie Beanie";
    font-size: 2em;
    padding-left: 50px;
    padding-right: 25px;
}

.image2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-top: 60px;
    font-family: "Reenie Beanie";
    font-size: 2em;
    padding-left: 50px;
    padding-right: 25px;
}

.grid-container p:nth-of-type(1) {
    grid-column: 2 /3;
    grid-row: 4 / 5;
    font-family: "Lora";
   
}
.grid-container p:nth-of-type(2) {
    font-family: "Lora";
   
}



/* Join Page */

.form {
    display: block;
    text-align: left; 
    font-size: 16px;
    margin-left: auto;
    margin-top: 10px;
}

/* Directory Page */

  
.grid {
	display: grid;
	grid-template-columns: 1fr 200px, 1fr;
	align-items: center;
    font-size: large;
}

.grid div img{
    width: 100px;
    height: 50px;
}

.grid div {
    text-align: center;
    border: 1px solid black;
	padding: 0.5rem;
	background-color: whitesmoke;
    margin: 0 auto;
}

.grid p {
    padding: 0%;
    text-align: center;
}

.grid li {
    border: 1px solid black;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 0%;
}

.grid ul {
    padding: 0%;
}

.list {
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  
.list li:nth-child(even) {
	background-color: #bed;
    padding: 1rem;
}
  
.list  > * {
    margin: 0 1rem;
}
.list img {
    display: none;
}
.list p {
    padding: 0%;
}

.list ul {
    padding: 0%;
}