@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Lora&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Dosis&family=Fredericka+the+Great&family=Lora&family=Reenie+Beanie&family=Rubik+Distressed&display=swap');


nav {
    margin-right: auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding-bottom: 10px;
}

nav a {
    font-size: 1.5em;
    color: #000;
}

.menu-item {
    display: none;
}

a.open {
    display: flex;
}

.close::before {
    content: "❌";
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.hero {
    width: 100%;
    max-height: 400px;
    position: relative;
    z-index: -1;
    object-fit: cover;
	border: 1px solid rgba(0,0,0,.1);
	
 }

 header h2 {
    font-family: "Fredericka the Great";
    font-size: 10em;
    color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 100px;
 }

 header h1 {
    font-family: Lora;
 }

 .join-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:darkcyan;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

.weather  {
    max-width: 300px;
    padding-left: 130px;
}
header p {
    font-family: Lora;
    padding-left: 210px;
}

main {
    max-width: 670px;
	margin: 0 auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;

}

main h2 {
    font-family: "Reenie Beanie";
    font-size: 5em;
}

main p {
    text-align: left;
    padding: 20px;
}

main .img1 {
    width: 100%;
    height: 300px;
    position: relative;

}

main .eat {
   text-align: center;
   font-family: "Reenie Beanie";
   font-size: 4em;
}

main .img2 {
    width: 100%;
    height: 300px;
    position: relative;

}

main .shop {
    text-align: center;
    font-family: "Reenie Beanie";
    font-size: 4em;
}

main .img3 {
    width: 100%;
    height: 300px;
    position: relative;

}

main .stay {
    text-align: center;
    font-family: "Reenie Beanie";
    font-size: 4em;
}

main h3 {
    font-family: Lora;
    background-color: aliceblue;
    padding: 30px;
}

main div button {
    font-family: "Dosis";
    font-size: 1.5em;
    padding: 10px;
    margin-bottom: 30px;
}

main .background {
    background-color: aliceblue;
    padding: 20px;
    margin-bottom: 30px;
}

main .weatherh2 {
    text-align: right;
    font-family: "Lora";
    padding: 15px;
}

footer {
    font-family: "Lora";

}

/* Discover CSS*/

.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 300px 50px 300px 50px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: aliceblue;
    padding-left: 30px;
}

div p {
    font-family: "Dosis";
}

.image1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 60px;
    font-family: "Reenie Beanie";
    font-size: 2em;
    padding-left: 50px;
    padding-right: 25px;
    
}

.image2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-top: 60px;
    font-family: "Reenie Beanie";
    font-size: 2em;
    padding-left: 50px;
    padding-right: 25px;
}

/* Join Page */

.form {
    display: block;
    text-align: left; 
    font-size: 16px;
    margin-left: auto;
    margin-top: 10px;
}

/* Directory Page */


  

 #members #grid-view {
    display: flex;
    flex-wrap: wrap;
  }
  
  #members #grid-view .member-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  #grid-view img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  #grid-view h2 {
    margin-bottom: 20px;
  }
  
  #grid-view a {
    color: blue;
  }
  
  /* List View */
  #members.list-view {
    display: flex;
    flex-direction: column;
  }
  
  #members.list-view .member-card {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  #members.list-view img {
    width: 200px;
    margin-right: 20px;
    float: left;
  }
  
  #members.list-view h2 {
    clear: both;
    margin-bottom: 20px;
  }
  
  #members.list-view a {
    color: blue;
  }
  