@media (min-width: 600px) {
    /* contents of the larger.css file go here */
    nav {
        flex-direction: row-reverse;
        justify-content: right;
        gap: 3rem;}

    main {
       display: grid;
       grid-template-columns: 1fr 1fr;
       max-width: 800px;
       margin: auto;
    }

    main h1 {
        grid-column: 1 / span 2;
    }

    main .card1 {
        grid-row: 2 / span 2;
    }
    
}