@media (min-width: 600px) {
    /* contents of the larger.css file go here */
    nav {
        flex-direction: row-reverse;
        justify-content: right;
        gap: 3rem;}

    main {
       max-width: 800px;
       margin: auto;
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-template-rows: 300px 75px 150px 150px 600px
       
    }

    main h1 {
        grid-column: 1 / span 2;
    }

    main .card1 {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
    .hero {
        width: 100%;
	    height: 300px;
        grid-column: 1 / 3;
        object-fit: cover;
        
    }
    .map {
        grid-column: 1 / 3;
        grid-row: 5 / 6;
        padding-top: 50px;
        
    }
    
}